/*
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	#removespacer{
		height: 445px;
	}

	body, input, select, textarea {
		font-size: 12pt;
	}

	#livedonateextra {
		display: none;
	}

	#begins {
		font-size: 8pt;
		line-height: 1.5em; 
	}

	.button.big {
		font-size: 0.8em;
	}
	
	
/* Banner */

	#banner {
		padding: 9em 2em 8em;
	}

/* Wrapper */

	.wrapper {
		padding: 4em 0em 2em;
		/* Style 2 Wrapper */
	}

		.wrapper.style2 footer {
			width: 85%;
		}

/* Footer */

	#footer {
		padding: 4em 0em 2em;
	}

		#footer .copyright li {
			border-left: 0;
			margin-left: 0;
			padding-left: 0;
			display: block;
		}
